@model IEnumerable<Project_K.Infrastructure.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>База даних 51-го куреня</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                Курінний ранг
            </th>
            <th>
                Пластовий ступінь
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KurinLevel.Name)
            </td>
            <td>
                @foreach (var level in item.MemberLevels)
                {
                    @Html.DisplayFor(modelItem => level.Level.Name)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
