@model IEnumerable<Project_K.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                По-Батькові
            </th>
            <th>
                Псевдо
            </th>
            <th>
                Дата народження
            </th>
            <th>
                Номер телефону
            </th>
            <th>
                Email
            </th>
            <th>
                Telegram
            </th>
            <th>
                Дата вступу в Пласт
            </th>
            <th>
                Адреса
            </th>
            <th>
                Навчальний заклад
            </th>
            <th>
                Курінний ранг
            </th>
            <th>
                Пластовий ступінь
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telegram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlastJoin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KurinLevel.Name)
            </td>
            <td>
                @foreach (var level in item.MemberLevels)
                {
                    @Html.DisplayFor(modelItem => level.Level.Name)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
